/*  MASTER STYLES   */
*{
    font-family: Arial, Helvetica, sans-serif;
    color: #414141;    
}
body{
    margin: 0px;
    background-color: #4e5d9441;
}



/*  navBar img Styles   */
img{
    vertical-align: middle;
    height: 20px;
}
/*  navBar Styles   */
.navBar {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    background: #ffffff;
}
.navLeft {
    display: flex;
}
.navBar > .navLeft > .navLink {
    margin-right: 20px;
    font-size: 1.3em;
    text-transform: uppercase;
}
.navLink {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.navLink a {
    text-decoration: none;
    transition: color 0.5s;
    vertical-align: top;
}
.navLink img {
    padding: 3px;
    vertical-align: top;
}
.navLink a:hover {
    border-bottom: 1px solid #4e5d94;
    color: #4e5d94;
    font-weight: bold;
    display: flex;
    margin-right: -2.3px;
}